#phaser-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#ui-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  margin: 1rem;
  background-color: coral;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
